<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Input Result 
  </h1>
</div>
<form (ngSubmit)="onSubmit($event)" [forGourp]="uplodeForm">
vvv<div>
   <ul>
     <li>
       <h2>First Prize-6,000,000 Baht</h2>
       <input matInput="text" name="fp" style="width:400px; height:20px;" />
     </li>
     <li>
       <h2>Three Digits Prefix-4,000 Baht </h2>
       <input type="text" name="3dp" style="width:400px; height:20px;"/>
      </li>
      <li>
       <h2>Three Digits SuFfix-4,000 Baht </h2>
       <input type="text" name="sdf" style="width:400px; height:20px;"/>
      </li>
      <li>
       <h2>Two digits suffix-2,000 Baht </h2>
       <input type="text" name="2d"style="width:400px; height:20px;"/>
      </li>
      <li>
       <h2>First Prize Neighbors-100,000 Baht</h2>
       <input type="text" name="fpn" style="width:400px; height:20px;"/> 
      </li>
      <li>
       <h2>Second Prize-200,000 Baht</h2>
       <input type="text" name="2p" style="width:400px; height:40px;"/>
      </li>
      <li>
       <h2>Third Prize-80,000 Baht</h2>
       <input type="text" name="3p" style="width:400px; height:60px;"/>
      </li>
      <li>
       <h2>Fourth Prize-40,000 Baht</h2>
       <input type="text" name="4p" style="width:400px; height:80px;"/>
      </li>
      <li>
       <h2>Fifth Prize-20,000 Bath</h2>
       <input type="text" name="5p" style="width:400px; height:100px;"/>
      </li>
    </ul>
</div>
<>

<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
